body {
	font-family: Helvetica, Arial, sans-serif;
}

.container {
	position: relative;
	width: 100%
}

.row {
	height: 12%;
	width: 96%;
	float: left;
}

@media (min-width: 768), (orientation: landscape) {
	.container {
		position: relative;
		width: 50%;
	}

	.row {
		height: 12%;
		width: 96%;
		float: left;
	}
}

.container:before {
	content: "";
	display: block;
	padding-top: 100%;
}

.square {
	height: 100%;
	width: 12%;
	float: left;
}

.light {
	background-color: #faf4da;
}

.dark {
	background-color: #006400;
}

.piece {
	display: block;
	position: absolute;
	height: 10%;
	width: 10%;
	/*padding-top: 3%;*/
}

.row-marker {
	height: 8.33%;
	width: 100%;
	padding-top: 100%;
}

.col-marker {
	height: 100%;
	width: 12%;
	text-align: center;
	float: left;
}

#board {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#col-marker-row {
	font-size: 2vw;
	height: 4%;
	width: 96%;
	padding-top: 2%;
	clear: both;
}

#row-marker-column {
	font-size: 2vw;
	height: 96%;
	width: 4%;
	float: left;
}

#corner {
	height: 4%;
	width: 4%;
	float: left;
}

#black-rook-1 {
	position: absolute;
	top: 1%;
	left: 4.5%;
}

#black-knight-1 {
	position: absolute;
	top: 1%;
	left: 16%;
}

#black-bishop-1 {
	position: absolute;
	top: 1%;
	left: 27.5%;
}

#black-queen {
	position: absolute;
	top: 1%;
	left: 39%;
}

#black-king {
	position: absolute;
	top: 1%;
	left: 50.5%;
}

#black-bishop-2 {
	position: absolute;
	top: 1%;
	left: 62%;
}

#black-knight-2 {
	position: absolute;
	top: 1%;
	left: 73.5%;
}

#black-rook-2 {
	position: absolute;
	top: 1%;
	left: 85%;
}

#black-pawn-a {
	position: absolute;
	top: 12%;
	left: 4.5%;
}

#black-pawn-b {
	position: absolute;
	top: 12%;
	left: 16%;
}

#black-pawn-c {
	position: absolute;
	top: 12%;
	left: 27.5%;
}

#black-pawn-d {
	position: absolute;
	top: 12%;
	left: 39%;
}

#black-pawn-e {
	position: absolute;
	top: 12%;
	left: 50.5%;
}

#black-pawn-f {
	position: absolute;
	top: 12%;
	left: 62%;
}

#black-pawn-g {
	position: absolute;
	top: 12%;
	left: 73.5%;
}

#black-pawn-h {
	position: absolute;
	top: 12%;
	left: 85%;
}

#white-pawn-a {
	position: absolute;
	top: 72%;
	left: 4.5%;
}

#white-pawn-b {
	position: absolute;
	top: 72%;
	left: 16%;
}

#white-pawn-c {
	position: absolute;
	top: 72%;
	left: 27.5%;
}

#white-pawn-d {
	position: absolute;
	top: 72%;
	left: 39%;
}

#white-pawn-e {
	position: absolute;
	top: 72%;
	left: 50.5%;
}

#white-pawn-f {
	position: absolute;
	top: 72%;
	left: 62%;
}

#white-pawn-g {
	position: absolute;
	top: 72%;
	left: 73.5%;
}

#white-pawn-h {
	position: absolute;
	top: 72%;
	left: 85%;
}

#white-rook-1 {
	position: absolute;
	top: 86%;
	left: 4%;
}

#white-knight-1 {
	position: absolute;
	top: 86%;
	left: 16%;
}

#white-bishop-1 {
	position: absolute;
	top: 86%;
	left: 27.5%;
}

#white-queen {
	position: absolute;
	top: 86%;
	left: 39%;
}

#white-king {
	position: absolute;
	top: 86%;
	left: 50.5%;
}

#white-bishop-2 {
	position: absolute;
	top: 86%;
	left: 62%;
}

#white-knight-2 {
	position: absolute;
	top: 86%;
	left: 73.5%;
}

#white-rook-2 {
	position: absolute;
	top: 86%;
	left: 85%;
}
