body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

label,
input {
	float: left;
}

button.clear {
	display: block;
	border: none;
	background-color: #333;
	color: #fff;
	font-size: 1em;
	padding: 10px 50px;
	border-radius: 7px;
}

.container {
	margin: 0 5vw;
}

.choices {
	/*width: 10%;*/
	float: left;
}

.digit-box {
	float: left;
	height: 60px;
	width: 100px;
}

.digit {
	float: left;
	text-align: center;
	font-size: 3em;
	padding: 0 10px 0 0;
}

.clear {
	clear: both;
}