body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

header {
	max-width: 600px;
	margin: auto;
}

main {
	max-width: 600px;
	margin: auto;
}

button#calc {
	display: block;
	border: none;
	background-color: #225ecc;
	color: #f0f0f0;
	font-size: 1em;
	height: 40px;
	width: 120px;
	margin: 0;
	border-radius: 7px;
}

.container {
	margin: 0 5vw;
}

.choices {
	list-style-type: none;
	text-align: center;
	width: 320px;
	padding: 0;
	margin: auto;
}

.choices li {
	position: relative;
	float: left;
	height: 38px;
	width: 60px;
	color: #000;
	border-top: 1px solid #39f;
	border-left: 1px solid #39f;
	border-bottom: 1px solid #39f;
	line-height: 38px;
}

.choices li:first-child {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
}

.choices li:last-child {
	border-right: 1px solid #39f;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-right: 3px;
}

.choices label,
.choices input {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font-size: 1.5em;
}

.choices input[type="radio"] {
	opacity: 0;
	z-index: 100;
}

.choices input[type="radio"]:checked + label {
	background-color: #39f;
	color: #fff;
}

.choices label {
	background-color: #ddd;
	cursor: pointer;
	z-index: 90;
}

.digit-box {
	height: 55px;
	max-width: 600px;
	margin: 0 5px 10px 0;
}

.digit {
	float: left;
	text-align: center;
	font-size: 3em;
	height: 55px;
	width: 65px;
}

.operand {
	display: none;
	float: left;
	font-size: 3em;
	opacity: 1;
}

.clear {
	clear: both;
}

.underlined {
	border-bottom: 4px solid #39f;
}

label[for="concat"] {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

label[for="minus"] {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
